*
{
    padding: 0px; 
    margin: 0px;
    text-align: center;
    font-family: 'Langar', cursive;
    color: aliceblue;
}

input
{
    width: 11%;
    height: 40px;
    border-radius: 8px;
    font-size: 2rem;
    color: #0EE;
    background-color: #02E;
}

p
{
    font-size: 1.3rem;
}

.sharksRed
{
    color: red;
}

.saveTheFish
{
    color: #099;
}

#intro
{
    background-image: url("https://media.giphy.com/media/MAntr1W5MWghJipFYU/giphy.gif");
    
}

#header
{
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 3%;
}

#stage
{
    height: 600px;
    width: 800px;
    background-image: url(images/underTheSeaBg.png);
    background-size: 100%;
    margin: 0px auto;
    position: relative;
    top: 8%;
    border: double;
    border-color: aliceblue;
    border-width: 5px;
}

#gameBox
{
    height: 1050px;
    width: 900px;
    background-color: #000;
    margin: 0px auto;
    border-radius: 50px;

    background:-webkit-linear-gradient(top,#013, #000); 
    background:-moz-linear-gradient(top, #013, #000); 
    background: linear-gradient(top,#013, #000);
}

#background
{
    height: 600px;
    width: 800px;
    background-image: url(images/underTheSeaBg.png);
    background-size: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#player
{
    background-image: url("https://media.giphy.com/media/9G1rT2SoinW4BAoMOF/giphy.gif");
    background-size: 109%;
    height: 11%;
    width: 8%;
    position: absolute;
    bottom: 173px;
    left: 425px;
}

#shark
{
    background-image: url("https://media.giphy.com/media/mwhMBeNoeQGsg/giphy.gif");
    background-size: 97%;
    height: 16%;
    width: 21%;
    position: absolute;
    top: 21px;
    right: 212px;
}

#missile
{
    width: 4%;
    height: 6%;
    position: absolute;
    top: 334px;
    left: 439px;
    background-image: url("https://media.giphy.com/media/l4pTm6mkz2Ym6uDYI/giphy.gif");
    visibility: visible;
    background-size: 100%;
}

#explosion
{
    background-size: 101%;
    height: 22%;
    width: 14%;
    position: absolute;
    background-image: url("https://media.giphy.com/media/xUA7aXJY46jN2P6gGk/giphy.gif");
    visibility: hidden;
}

#text
{
    position: relative;
    top: 12%;
}

#endText
{
    position: relative;
    top: 14%;
}

#fireButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #0EE;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #000;
    cursor: pointer;
    margin-top: 2%;

    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;

    background:-webkit-linear-gradient(top, #00F, #07B); 
    background:-moz-linear-gradient(top, #00F, #07B); 
    background: linear-gradient(top, #00F, #07B);

    /*Transition*/
  -webkit-transition: left 0.5s ease-out 0s;
  -moz-transition: left 0.5s ease-out 0s;
  transition: left 0.1s ease-out 0s;

    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5); 
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);

    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
}

button:hover {
    background: -webkit-linear-gradient(top, #acc7a3, #506651); 
    background: -moz-linear-gradient(top, #acc7a3, #506651); 
    background: linear-gradient(top, #acc7a3, #506651);
}

button:active {
    background: -webkit-linear-gradient(top, #858565, #c5c9a9); 
    background: -moz-linear-gradient(top, #858565, #c5c9a9); 
    background: linear-gradient(top, #858565, #c5c9a9);
}